@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  color: #f66;
  font-size: 13px;
}

td {
  font-size: 12px;
}

.laranja {
  color: #f66; 
}

.verde {
  color: rgb(32 245 110 / 76%);
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
